@font-face {
  font-family: "iconfont"; /* Project id 3415899 */
  src: url('iconfont.woff2?t=1653805487462') format('woff2'),
       url('iconfont.woff?t=1653805487462') format('woff'),
       url('iconfont.ttf?t=1653805487462') format('truetype'),
       url('iconfont.svg?t=1653805487462#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitong:before {
  content: "\e60e";
}

.icon-tongxunlu:before {
  content: "\e8fb";
}

.icon-renwuzhongxin:before {
  content: "\eafd";
}

.icon-cheliang:before {
  content: "\e629";
}

.icon-ditu:before {
  content: "\e627";
}

